.carousel {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    max-height: 1123px;
}
#imagenes {
    width: 100%;
    height: 1123px;
    background-size: cover;
}
button img {
    height: 55;
}